* {margin: 0; padding: 0;}
body {
	background-image: url("bg.png");
	font-family: Tahoma;
	

}

.frame{
	background-color: rgba(0,128,0,0.4);
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;



	
	/* put css-rules in this ccs-block here below */
	

	
}

h1{
	background-color: rgba(0,32,0,0.4);
	line-height: 40px;
	margin-left: 5px;
	margin-right: 11px;
	padding-left: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;


	


	
	
	/* put css-rules in this ccs-block here below */
	
}

h2 {
	border-style: solid;
	border-color: rgb(128,0,128);
	margin-left: 3px;
	margin-right: 11px;
	line-height: 44px;
	padding-left: 21px;
	margin-bottom: 10px;
	margin-top: 10px;
	

	
	/* put css-rules in this ccs-block here below */
	
}

p{
	background-color: rgba(256,256,0,0.4);
	padding: 9px;
	line-height: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top:10px;
	margin-left: 3px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 11px;

	


	
	/* put css-rules in this ccs-block here below */

}

div{
	width: 614px;
	margin-left: 387px;
	margin-right: 450px; 

}